@page
@model PortfolioEAI.Pages.About
@{
    ViewData["Title"] = "A PROPOS DE MOI";
}
<section class="about-section text-center" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8">
                <h2 class="text-white mb-4">ELEMBA ADI Eric</h2>
                <p class="text-white-50">
                    Développeur .NET passionné et polyvalent avec plus de 5 ans d’expérience professionnelle et académique dans le développement de solutions innovantes. 
                    Certifié Manager en systèmes d’information, développeur analyste développeur, j’ai construit ma carrière sur des bases solides en programmation, gestion de projets et migration vers le cloud.
                    Je maîtrise des technologies telles que C#, SQL, HTML5/CSS3 et des frameworks comme ASP.NET Core,MVC et Blazor, en intégrant des bases de données complexes grâce à SQL Server et des outils comme Entity Framework. 
                    Mon expertise s’étend également aux méthodes Agiles, aux principes SOLID et aux design patterns.
                </p>
            </div>
        </div>
        <img class="img-fluid" src="assets/img/ipad.png" alt="..." />
    </div>
</section>